<div class="row">
      <div class="col-xs-12">
            <div class="box box-primary">
                  <div class="box-header with-border">
                        <h3 class="box-title">Listagem de Viagem</h3>
                  </div>
                  <div class="box-body">
                        <table class="table table-bordered">
                              <tr>
                                    <th *ngFor="let col of columns">
                                          {{col.header}}
                                    </th>

                              </tr>
                              <tr *ngFor="let col of travelList">

                                    <td>{{col.returnDate}}</td>
                                    <td>{{col.departureDate}}</td>
                                    <td>{{col.country}}</td>
                                    <td>{{col.cardAccountNumber}}</td>

                                    <td style="width: 10%">
                                          <button class="btn btn-info"> <span class="fa fa-pencil"></span></button>
                                    </td>
                                    <td style="width: 10%">
                                          <button class="btn btn-danger" onclick=""> <span class="fa fa-ban"></span></button>
                                    </td>
                              </tr>

                        </table>
                  </div>

            </div>
      </div>
</div>